<mat-card>
  <mat-spinner  *ngIf="!loaded"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="loaded">
        <mat-form-field>
          <input matInput type="email" name="email" ngModel placeholder="email" #emailtype="ngModel" required email >
          <mat-error *ngIf="emailtype.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input  type="password" matInput ngModel name ="password" placeholder="password" #passtype="ngModel" required  >
          <mat-error *ngIf="passtype.invalid">Please enter a right password.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Sign In</button>
  </form>
</mat-card>
