<mat-spinner *ngIf="!loaded"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <div class="imagepreview"  >
      <img [src]="post.imagepath" [alt]="post.title">
    </div>
    <mat-action-row>
      <a mat-button [routerLink]="['/edit',post.id]" color="primary">EDIT</a>
      <button mat-button color="warn" (click)="deletePost(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && loaded">No posts added yet!</p>
<mat-paginator [length]=postCount
              [pageSize]=pageSize
              [pageSizeOptions]="[1, 2, 3, 4,5]"
              (page)="onPagChange($event)"
              aria-label="Select page" *ngIf="posts.length > 0">
</mat-paginator>
